<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	
	<session-factory>
		<!-- Connection Information -->
		<property name="hibernate.connection.username">social</property>
		<property name="hibernate.connection.password">password</property>
		<property name="hibernate.connection.url">jdbc:postgresql://database-1.cjryxnsvzgov.us-east-2.rds.amazonaws.com:5432/socialhubhibernate</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.dialect">org.hibernate.PostgreSQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<!-- Connection Pool, a method of speeding up DB calls, Hibernate will open up the number of connections specified in the tag below
			when it starts up
			Every time you create a session, a session will borrow an active connection from the connection pool.
			When you close a session the connection does not close it simply frees up and makes available that connection
			that the session was using
		 -->
		<property name="hibernate.connection.pool_size">10</property>
		
		<property name="hibernate.hbm2ddl.auto">create</property>
		
		<!-- Under this comment we will map our java classes to db tables -->
		<mapping class="com.example.models.User"/>
	</session-factory>

</hibernate-configuration>