<div *ngIf="liked; else elseBlock">
    <div [ngClass]="['post', 'liked']" (click)="likePost()">
        <h2>{{post.username}}</h2>
        <p>{{post.content}}</p>
        <p>Likes: {{post.likes}}</p>
        <p>{{post.date | date:'short'}}</p>
    </div>
</div>
<ng-template #elseBlock>
    <div [ngClass]="['post', 'not-liked']" (click)="likePost()">
        <h2>{{post.username}}</h2>
        <p>{{post.content}}</p>
        <p>Likes: {{post.likes}}</p>
        <p>{{post.date | date:'short'}}</p>
    </div>
</ng-template>

