<div>
    <nav class="navbar">
        <a class="navbar-logo" href="#">
            <img class="profile-pic-icon" src="https://freepikpsd.com/media/2019/10/default-user-profile-image-png-6-Transparent-Images.png"/>
        </a>
        <ul class="nav-menu">
            <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Feed</a></li>
            <li class="logout">
                <button class="logout-button">Logout</button>
            </li>
        </ul>
    </nav>
</div>
