#main {
    margin-top: 100px;
}

.navbar {
    background: #00a1e4;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.nav-list {
    list-style-type: none;
    width: 100%;
    margin: auto;
}

.nav-item {
    float: left;
    display: block;
    height: 80px;
    line-height: 80px;
}

.nav-link {
    color: black;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
}

#profile-pic {
    height: '60px';
    width: '60px';
    border-radius: 100%;
    object-fit: cover;
    position: relative;
    top: 12%;
}
