<app-navbar></app-navbar>
<div class="posts-container">
    <button [hidden]="!hide" (click)="loadPosts()">Load Posts</button>
    <div class="post" [hidden]="hide">
        <h2>{{posts[0].user}}</h2>
        <p>{{posts[0].content}}</p>
        <p>{{posts[0].likes}}</p>
    </div>
    <div class="post" [hidden]="hide">
        <h2>{{posts[1].user}}</h2>
        <p>{{posts[1].content}}</p>
        <p>{{posts[1].likes}}</p>
    </div>
    <div class="post" [hidden]="hide">
        <h2>{{posts[2].user}}</h2>
        <p>{{posts[2].content}}</p>
        <p>{{posts[2].likes}}</p>
    </div>
    <div class="post" [hidden]="hide">
        <h2>{{posts[3].user}}</h2>
        <p>{{posts[3].content}}</p>
        <p>{{posts[3].likes}}</p>
    </div>
</div>
