.posts-container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.post{
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px lightgray;
    padding: 10px;
}