<app-navbar></app-navbar>
<div class="posts-container">
    <div class="post">
        <h2>Rick Sanchez</h2>
        <p>Morty and I just did some sick space stuff</p>
        <p>Likes: 1</p>
    </div>
    <div class="post">
        <h2>Summer Smith</h2>
        <p>Are we just going to forget the time grandpa turned snuffles inot a leader of an army of dogs?</p>
        <p>Likes: 1</p>
    </div>
    <div class="post">
        <h2>Morty Smith</h2>
        <p>I am never going on another adventure with Rick again!</p>
        <p>Likes: 1</p>
    </div>
</div>
