.posts-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}
