<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>SimpleTextServlet</servlet-name>
  	<servlet-class>com.example.text.TextServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>SimpleTextServlet</servlet-name>
  	<url-pattern>/text</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SimpleHTMLServlet</servlet-name>
  	<servlet-class>com.example.html.HtmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>SimpleHTMLServlet</servlet-name>
  	<url-pattern>/html</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<servlet-class>com.example.user.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/users</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.example.indirect.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/error</location>
  </error-page>
  
  <servlet>
  	<servlet-name>ErrorServlet</servlet-name>
  	<servlet-class>com.example.error.ErrorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ErrorServlet</servlet-name>
  	<url-pattern>/error</url-pattern>
  </servlet-mapping>
  
</web-app>