
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
		
		<!-- This is the connection information -->
		<property name="hibernate.connection.username">super</property>
		<property name="hibernate.connection.password">password</property>
		<property name="hibernate.connection.url">jdbc:postgresql://java-uta-210621.cjryxnsvzgov.us-east-2.rds.amazonaws.com:5432/superhumans</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		
		<property name="hibernate.connection.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<property name="hibernate.connection.pool_size">10</property>
		
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- We will map our classes down here -->
		<mapping class="com.example.model.SuperVillain"/>
		<mapping class="com.example.model.Crime"/>
		<mapping class="com.example.model.SuperPrison"/>
	</session-factory>

</hibernate-configuration>